.page-header {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  min-height: 64px;

  background-color: #ffffff;
  z-index: 100;
}

.page-header__logo {
  width: 191px;
  height: 39px;
  position: relative;
  padding-left: 20px;
  padding-top: 11px;
  padding-bottom: 15px;
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.page-header__menu-opener {
  display: none;
  width: 25px;
  height: 19px;
  padding: 0;
  padding-right: 22px;

  border: none;
  color: inherit;
  background-color: transparent;
}



@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 768px;
    min-height: 59px;

    border: none;
  }

  .page-header__wrapper {
    padding: 0 30px;
    flex-wrap: nowrap;
  }

  .page-header__icon-opener {
    display: none;
  }

  .page-header__menu-opener:checked ~ .main-nav {
    visibility: visible;
    width: auto;
    height: auto;
    transition: none;
    clip: initial;
  }

  .page-header--index .site-list__item--active {
    border-bottom: 2px solid @bg-green;
    color: #222222;
  }

  .page-header__logo-image {
    position: relative;
    clip: auto;
    width: 174px;
    height: 59px;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: visible;
  }

  .page-header__logo {
    padding-top: 24px;
    padding-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

    border: none;
  }

  .page-header__wrapper {
    position: relative;
    justify-content: space-between;
    max-width: 1220px;
    padding-top: 54px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-header--index::after {
    content: "";
    background-image: url("../img/index-background-desktop@1x.jpg");
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 50%;
    min-height: 696px;
    background-color: #63a73a;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-header__logo-image {
    position: relative;
    clip: auto;
    width: 203px;
    max-width: 203px;
    height: 59px;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: visible;
    z-index: 10;
    align-items: center;
  }

  .page-header__logo {
    padding: 0;
  }

  .page-header--index .site-list__item-link--active {
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
  }

  .page-header--index .site-list__item-link {
    color: #ffffff;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .page-header__logo {
    position: absolute;
  }
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header--index::after {
    background-image: url("../img/index-background-desktop@2x.jpg");
  }
}
