/* Promo-instructions.less */

.promo-instructions {
  min-width: 320px;
}

.promo-instructions__wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.promo-instructions__header {
  margin-top: 32px;
  margin-bottom: 0;

  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #111111;
}

.promo-instructions__list {
  margin-top: 39px;
  padding: 0;

  list-style: none;
}

.instructions-list__description {
  min-width: 194px;
  padding-left: 80px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #444444;
}

.instructions-list__item {
  position: relative;
  min-height: 60px;

  margin-bottom: 17px;
}

.instructions-list__item:last-child {
  margin-bottom: 42px;
}

.instructions-list__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: 0;
  top: 1px;

  background-color: @bg-green;
}

.instructions-list__item:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  left: 7px;
  top: 5px;

  background-image: url("../img/advantage-leaf@1x.png");
}

.instructions-list__item:nth-child(2)::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  left: 7px;
  top: 5px;

  background-image: url("../img/advantage-powder@1x.png");
}

.instructions-list__item:nth-child(3)::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  left: 7px;
  top: 5px;

  background-image: url("../img/advantage-dining@1x.png");
}

.instructions-list__item:nth-child(4)::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  left: 7px;
  top: 5px;

  background-image: url("../img/advantage-clock@1x.png");
}

@media (min-width: @tablet-width) {
  .promo-instructions {
    border-bottom: 1px solid #f2f2f2;
  }

  .promo-instructions__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .promo-instructions__header {
    min-width: 371px;
    margin-top: 44px;

    font-size: 60px;
    line-height: 60px;
  }

  .promo-instructions__list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 72px;
  }

  .instructions-list__item {
    display: flex;
    flex-wrap: wrap;
    width: 45.9%;
    min-height: 228px;
  }

  .instructions-list__item:nth-child(1),
  .instructions-list__item:nth-child(2) {
    margin-bottom: 87px;
  }

  .instructions-list__description {
    width: 245px;
    padding-left: 0;
    padding-top: 97px;
    padding-bottom: 6px;

    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }

  .instructions-list__description span {
    white-space: nowrap;
  }

  .instructions-list__item::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 80px;
    left: 0;
    top: 0;

    background-color: @bg-green;
  }

  .instructions-list__item:nth-child(1)::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    left: 15px;
    top: 15px;

    background-image: url("../img/advantage-leaf@1x.png");
  }

  .instructions-list__item:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    left: 15px;
    top: 15px;

    background-image: url("../img/advantage-powder@1x.png");
  }

  .instructions-list__item:nth-child(3)::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    left: 15px;
    top: 15px;
    background-image: url("../img/advantage-dining@1x.png");
  }

  .instructions-list__item:nth-child(4)::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    left: 15px;
    top: 15px;

    background-image: url("../img/advantage-clock@1x.png");
  }

  .instructions-list__number {
    position: absolute;
    clip: auto;
    overflow: visible;
    top: -107px;
    left: 118px;

    font-family: "Oswald-Regular", "Arial", sans-serif;
    font-size: 281px;
    color: #f2f2f2;
    z-index: -1;
  }
}

@media (min-width: @desktop-width) {
  .promo-instructions {
    width: 100%;
  }

  .promo-instructions__wrapper {
    max-width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .promo-instructions__list {
    flex-wrap: nowrap;
    padding-left: 0;
    margin-top: 72px;
    width: auto;
  }

  .instructions-list__item {
    width: auto;
    margin-bottom: 0;
  }

  .instructions-list__item:nth-child(1),
  .instructions-list__item:nth-child(2) {
    margin-bottom: 0;
  }

  .instructions-list__item:last-child {
    margin-bottom: 0;
  }

  .instructions-list__number {
    top: -106px;
    left: 117px;
  }

  .promo-instructions__header {
    margin-top: 73px;
    padding-left: 0;
  }
}
