.promo-example {
  position: relative;
  background-color: #f2f2f2;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}

.promo-example__wrapper {
  margin: 0 auto;
  padding: 0 20px;
}

.promo-example__title {
  padding-top: 27px;
  margin-bottom: 0;
  margin-top: 0;

  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: #111111;
}

.promo-example__description {
  width: 95%;
  padding-top: 6px;
  margin-top: 30px;
  margin-bottom: 0;

  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.promo-example__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-example__subtitle {
  margin-top: 32px;
  margin-bottom: 34px;

  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: normal;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

.promo-example__sliderwrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .promo-example {
    background-color: #ffffff;
  }

  .promo-example__wrapper {
    padding: 0 30px;
  }

  .promo-example__title {
    padding: 0;
    margin-top: 43px;

    font-family: "Oswald-Regular", "Arial", sans-serif;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
  }

  .promo-example__description {
    min-width: 677px;
    padding-left: 0;
    padding-top: 0;
    margin-top: 64px;
    margin-bottom: 0;
    padding-right: 64px;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #444444;
  }

  .promo-example__subtitle {
    margin: 0;
    margin-top: 54px;
    padding-right: 0;
    font-family: "Oswald-Regular", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: normal;
    text-align: right;
    color: #111111;
    text-transform: uppercase;
    width: 174px;
  }

  .promo-example__list-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 255px;
  }

  .promo-example__sliderwrap {
    height: 462px;
    flex-direction: column;

    background-color: #eaeaea;
  }

  .promo-example__sliderimages {
    display: flex;
    height: 517px;
    flex-direction: row;
  }

  .promo-example__fatcat {
    position: absolute;
    top: 448px;
    right: 50%;
    width: 338px;
    height: 518px;
    overflow: hidden;
    object-fit: cover;
    object-position: left;
  }

  .promo-example__thickcat {
    position: absolute;
    top: 449px;
    left: 50%;
    display: block;
    height: 517px;
    width: 353px;
    object-fit: cover;
    object-position: right;
    overflow: hidden;
  }
}

@media (min-width: @desktop-width) {
  .promo-example {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .promo-example::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 69.4%;
    width: 100%;
    background-color: #eaeaea;
    z-index: 1;
  }

  .promo-example__wrapper {
    width: 100%;
    max-width: 1220px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .promo-example__title {
    padding-left: 0;
    margin-top: 63px;
  }

  .promo-example__list-wrapper {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 231px;
  }

  .promo-example__description {
    position: relative;
    max-width: 431px;
    min-width: unset;
    min-height: 88px;
    margin-top: 146px;

    z-index: 2;
  }

  .promo-example__subtitle {
    width: 333px;
    padding-left: 1px;
    margin-top: 53px;

    text-align: left;
    z-index: 2;
  }

  .promo-example__subtitle-price {
    margin-left: 59px;

    z-index: 2;
  }

  .promo-example__sliderwrap {
    width: 100%;
    margin-top: -624px;
    margin-left: 297px;

    background-color: #ffffff;
  }

  .promo-example__fatcat {
    width: 374px;
    top: 8px;
    right: 24.5%;

    z-index: 2;
  }

  .promo-example__thickcat {
    width: 324px;
    top: 8px;
    left: 75%;

    z-index: 5;
  }
}
