body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-family: "Oswald-Regular", "Arial", sans-serif;
  color: #000000;
  font-style: normal;

  background-color: #ffffff;
}

@font-face {
  font-family: "Oswald-Medium";
  src: url("../fonts/oswaldmedium.woff") format(".woff"),
    url("../fonts/oswaldmedium.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald-Regular";
  src: url("../fonts/oswaldregular.woff") format(".woff"),
    url("../fonts/oswaldregular.woff2") format("woff2");
}

@font-face {
  font-family: "ArialMT";
  src: url("../fonts/arialmt.woff") format(".woff"),
}


img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}
